# ── Copia este archivo como .env y rellena los valores ──────
# Opción A: Local
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=operacion_remi
# DB_USER=postgres
# DB_PASSWORD=tu_contraseña_local
# DB_SSL=false

# Opción B: Neon (nube compartida del equipo)
DB_HOST=ep-xxxx.us-east-2.aws.neon.tech
DB_PORT=5432
DB_NAME=operacion_remi
DB_USER=usuario_neon
DB_PASSWORD=contraseña_neon
DB_SSL=true

PORT=3000
NODE_ENV=development

JWT_SECRET=cambia_esto
JWT_EXPIRES_IN=7d
